.footer {
    background: #7854F7;
    &__content {
    }

    &__top {
    }

    &__lists {
    }

    &__bottom {
        background: $white;
    }
}

.top-footer {
    padding: 0px 0px 55px 0px;
    
    @media (max-width: $width + px){
        padding: 0px 0px 40px 0px;
    }
    border-bottom: 1px solid #9A7DFF;
    &__items {
        padding: 45px 0px 135px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $width + px){
            padding: 30px 0px 80px 0px;
        }
        @media (max-width: 992px){
            flex-wrap: wrap;
            padding: 30px 0px 50px 0px;
        }
    }
    &__item {
        display: flex;
        align-items: center;
        img{
            margin: 0px 15px 0px 0px;
        }

        font-weight: 700;
        font-size: 20px;
        line-height: calc(30 / 20);
        color: $white;
        @media (max-width: 992px){
            flex: 0 0 50%;
            margin: 0px 0px 30px 0px;
        }
        @media (max-width: 767px){
           flex: 1 1 100%;
        }
    }

    &__logo {
        text-align: center;
    }
}
.lists-footer {
    padding: 35px 0px 65px 0px;
    @media (max-width: $width + px){
        padding: 30px 0px 40px 0px;
    }
    &__body {
        display: flex;
        justify-content: center;
        @media (max-width: 992px){
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    }

    &__item {
        padding: 0 70px;
        @media (max-width: $width + px){
            padding: 0 30px;
        }
        @media (max-width: 992px){
            flex: 0 0 33.333%;
            margin: 0px 0px 30px 0px;
            padding: 0px;
        }
        @media (max-width: 767px){
            flex: 0 0 50%;
         }
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 52px;
        line-height: calc(20 / 14);
        text-transform: uppercase;
        color: $white;
        margin: 0px 0px 10px 0px;
    }

    &__list {
        li{
            margin: 0px 0px 15px 0px;
        }
    }

    &__link {
        font-size: 12px;
        line-height: calc(20 / 12);
        color: $white;
    }
}
.bottom-footer {
    padding: 20px 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 992px){
            flex-direction: column;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        @media (max-width: 992px){
            margin: 0px 0px 15px 0px;
        }
    }

    &__item {
        margin: 0 25px;
        @media (max-width: $width + px){
            margin: 0 15px;
        }
        svg{
            path{
                transition: all .3s ease-in-out;
            }
        }
        @media (min-width: 992px){
           &:hover{
            svg{
                path{
                    fill: #7854F7;
                }
            }
         }
        }
    }

    &__text {
        font-size: 12px;
        line-height: calc(20 / 12);
        text-align: center;
        color: #272D4E;
        a{
            text-decoration: underline;
            color: #272D4E;
            @media (min-width: 992px){
               &:hover{
               text-decoration: none;
             }
            }
        }
    }

    &__logo {
        @media (max-width: 992px){
            margin: 0px 0px 30px 0px;
        }
    }
}
